langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-qdrant
langchain-text-splitters
langgraph
sentence-transformers
qdrant-client
streamlit
python-dotenv
beautifulsoup4
requests
lxml
numpy
